server:
  port: PORT

parser:
  baseUrl: BASE_URL

katya:
  url: URL
  message-type: MARKDOWN
  chats: CHATS
  token: TOKEN

logging:
  level:
    com.willysanych.day_events_plugin: DEBUG

scheduler:
  enabled: false
  load-events:
    cron: CRON-EXPRESSION
  send-events:
    cron: CRON-EXPRESSION

debug-mode: false

locale: ru
